<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Profile - SVL API</title>
	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="author" content="Farhannnnn" />
	<meta name="description" content="Info Profile Users" />
	<meta name="og:image" content="https://api-xcoders.xyz/images/IMG-20211115-WA0004.jpg" />
	<!-- Favicons -->
	<link rel="shortcut icon"
		href="https://cdn.freebiesupply.com/logos/large/2x/the-ground-round-2-logo-png-transparent.png"
		type="image/png" />
	<!-- Styles -->
	<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal/minimal.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/profile.css" />
	<link rel="stylesheet" type="text/css" href="/css/profile-dark.css" />
	<link rel="stylesheet" type="text/css" href="/css/profile-demo.css" />
</head>

<body>
	<%- include('msg') %>
	<%- include('errors') %>
	<%- body %>
	<script src="/js/jquery-profile.js"></script>
	<script src="/js/plugins-profile.min.js"></script>
	<script src="/js/common-profile.js"></script>
	<!-- Mapbox init -->
	<script src="/js/mapbox-profile.init.js"></script>
	<script src="/js/plugins-profile.js"></script>
</body>

</html>